/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    background-image: "C:\Users\lab\Desktop\istockphoto-1469706271-1024x1024.jpg"
}

/* Style the header and navigation */
header {
    text-align: center;
    background-color: #333;

    color: #fff;
    padding: 20px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
      text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
      text-align: center;
}

/* Style the sections */
section {
    padding: 20px;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
